*{
    margin: 0px;
    padding: 0px;
}

body{
    background: #D6C3B1;
    font-family: sans-serif; 
    padding: 20px;
}

nav{
    background-color: #D3B58D;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 20px;
    border-bottom: 2px solid #EADDCA;
}
nav a{
    background: #8B4513;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 0.9rem;
}
nav a:hover { 
    background: #A52A2A; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
}
.container{
    background-color: white;
    margin: 15px auto;
    align-items: center;
    padding: 30px;
    display: flex;
    flex-wrap: nowrap ;
    max-width: 1000px;
    border-radius: 15px;
    gap: 40px;
    /* box-shadow: 0 10px 30px rgba(62, 39, 35, 0.1); */
}
/* style="width: 100%; border-radius: 10px; border: 5px solid #F5DEB3;" */
img{
    width: 100%;
    border-radius: 10px;
    border: 5px solid #D7CCC8 ;
    /* object-fit: cover;  */
}
.info-produk{
    flex: 1;
}
h1{ 
    font-size: 32px;
    margin: 10px 0; 
    color: #3E2723; 
}
.info-produk h2 { 
    color:#8D6E63; 
    font-weight: bold; 
    margin-bottom: 20px; 
}
p{
    line-height: 1.6; 
    color: #5D4037; 
    margin-bottom: 30px; 
}
.button{
    margin-top: 30px;
    display: flex;
    gap: 15px;
}
button{
    background-color: #4E342E; 
    color: white; 
    border: none; 
    padding: 12px 20px; 
    border-radius: 8px; 
    font-weight: bold; 
    cursor: pointer;
}
button:hover{
    background-color: white;
    color: #4E342E; 
    border: 1px solid #4E342E; 

}
.button a{
    text-decoration: none; 
    border: 1px solid #4E342E; 
    color: #4E342E; 
    padding: 12px 20px; 
    border-radius: 8px; 
    font-weight: bold; 
    text-align: center;
}
.button a:hover{
    background-color: #4E342E;
    color: white; 
    border: 1px solid #4E342E; 

}